/* NAV BARRE */

.navBar {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
   
}

/* BETALIAN A CHANGER */
.navbar-brand {
    width: 300px;
    margin-left: 2%;
    text-decoration: none;
    color: white;
}  
/* ------------------------- */


.menuNav{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.menuNav a{
    text-decoration: none;
    color: white;
}

.menuNav li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

/* END NAV BARRE */


/* PRESENTATION */
.presentation{
    background-color: black;
    display: flex;
    flex-direction: row;
    

}

.photoPresentation{
    width: 70%;
    height: 70%;
    padding-bottom: 3%;
    padding-left: 2%;
    
}

.img1{
    width: 100%;
    border-radius: 5%;
}

.textPresenation{
    display: flex;
    color: white;
    width: 70%;
    padding-left: 10px;
    justify-content: center;
    margin-top: 15vh;
    
}

.quiSommesNous{
    width: 50%;
}


