/* body
{
    background-image: url(pates.jpeg);
    background-repeat:no-repeat ;
    background-attachment: fixed;
    justify-content: center;
    display: flex;
    color: white;
    text-shadow: 3px 3px 5px black;
    width: 100%;
} */
.hours{
    background-color: black;
}
h1 {
    text-align: center;
    padding: 1%;
    color: white;
    text-shadow: 3px 3px 6px white;

}

.horaire{
    background-image: url(ghetti.jpg);
    background-repeat: no-repeat;
    border: solid white;
    border-radius: 5%;

}

.container{
    color:  white;
    text-shadow: black;
    background-color: black; 
    /* filter: blur(4px);  */
    display : flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;

}


img{
    width: 30px;
    color: white;
}

.infos{
    width: 35px;
    
}

.map{
    margin-left: 30%;
}

.days{
    color: solid white;
    font-size: 35px;
}

.titre{
    font-size: 60px;
    margin-left: 140px;
}

.up{
    padding-top: 15%;
}