/*------------------------ NAV BARRE ----------------------*/
.logo {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    margin-left: 4%;

}

.navBar {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.menuNav {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.menuNav a {
    text-decoration: none;
    color: white;
}

.menuNav li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 3%;
}

/* -----------------------END NAV BARRE---------------------- */


/* PRESENTATION */

.presentation {
    background-color: black;
    display: flex;
    flex-direction: row;


}

.photoPresentation {
    width: 70%;
    height: 70%;
    padding-bottom: 3%;
    padding-left: 2%;
}

.img1 {
    width: 100%;
    border-radius: 5%;
}

.textPresenation {
    display: flex;
    color: white;
    width: 70%;
    padding-left: 10px;
    justify-content: center;
    margin-top: 15vh;

}

.quiSommesNous {
    width: 50%;
}

/* --------------------FIN PRESENTATION --------------- */

/* --------------------FORMULAIRE------------------------ */

.contact {
    height: 50vh;
}

h2 {
    font-size: 45px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.formulaire {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}

.user-box{
    display: flex;
    flex-direction: column;
    position: relative;
}

.grosseDiv {
    display: flex;

}

.label{
    position: absolute;
    top:0;
    left: 0;
    padding: 3px 0;
    color: red;
}

.modifLabel{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
  position: absolute;
}

.user-box input{
    max-width: 27.5vw;
}

/* .user-box input{
    border: none;
} */
